{% extends 'app/base.html' %}
{% load static %}
{% block content%}




<body>

    

        <section>
            <h2>Who We Are</h2>
            <p>Helmet Shop is your one-stop destination for high-quality helmets designed to keep you safe and stylish on the road. Established in 2024, we are dedicated to providing top-notch products that combine safety, comfort, and innovation.</p>
        </section>
        <section>
            <h2>Our Mission</h2>
            <p>Our mission is to ensure that every rider stays protected while embracing their passion for adventure. We believe in delivering helmets that meet the highest safety standards and cater to diverse preferences.</p>
        </section>
        <section>
            <h2>Why Choose Us?</h2>
            <center> <ul>
                <p>Wide range of helmets for all types of riders.</p>
                <p>Certified safety standards.</p>
                <p>Competitive pricing.</p>
                <p>Exceptional customer service.</p>
            </ul></center>
        </section>
   
   
</body>
</html>


<footer> Developed By: Jhon Bae </footer>

{% endblock content%}