<header>

 
 <a href="{% url 'inventory_create' %}">Inventory</a>
 <a href="{% url 'order_create'%}">Order</a>
 <a href="{% url 'category_create' %}">Category</a>
 <a href="{% url 'customer_create'%}">Customer</a>
 <a href="{% url 'product_create' %}">Product</a>
 

 {% if user.is_authenticated %}
 <li>
     <form method="post" action="{% url 'logout' %}" style="display: inline;">
         {% csrf_token %}
         <button type="submit" class="logout-button">Logout</button>
     </form>
 </li>
 {% endif %}
    

</header>
